/* Global styles (styles.css or styles.scss) */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cdk-overlay-pane {
  max-width: 80%; /* adjust to your liking */
  width: auto;
  z-index: 1050; /* to ensure it's above the backdrop */
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  max-width: 500px; /* you can adjust this to fit your design */
  margin: 1.75rem auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}
