<webteam-shared-client-seach-nav-bar [pageTitle]="programName"> </webteam-shared-client-seach-nav-bar>

<webteam-shared-client-progress-bar [isLoading]="isLoading$ | async"></webteam-shared-client-progress-bar>

<ng-container *ngIf="viewProgramsDetailSummary; else noDetails">
  <div class="container">
    <div class="float-container">
      <div class="g-col-md-6 float-child-1 head-prog-name">{{ viewProgramsDetailSummary.name }}</div>
      <div class="g-col-md-6 float-child-2 filter-icon">
        <img alt="back" src="assets/back-icon.png" />
        <span class="search-results">
          <a (click)="navigateToSearchResultsPage()" class="color-link hover" id="back-to-search"
            >Back to search results</a
          >
        </span>
      </div>
    </div>
    <div class="float-container">
      <div class="photoSection">
        <div class="g-col-lg-12">
          <div id="progcarousel" *ngIf="programPhotos.length > 0" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
              <div
                class="carousel-item"
                *ngFor="let photo of programPhotos; let i = index"
                [ngClass]="{ active: i === 0 }"
              >
                <img class="d-block no-resize photoSize" [src]="photo.photo" alt="Photos Image" />
              </div>
            </div>
            <a
              class="carousel-control-prev-css carousel-prev"
              *ngIf="programPhotos.length > 1"
              data-bs-target="#progcarousel"
              role="button"
              data-bs-slide="prev"
              (click)="getImage(-1)"
            >
              <span class="carousel-control-prev-icon-new"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next-css carousel-next"
              *ngIf="programPhotos.length > 1"
              data-bs-target="#progcarousel"
              role="button"
              data-bs-slide="next"
              (click)="getImage(1)"
            >
              <span class="carousel-control-next-icon-new"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <span class="g-col-lg-3 photo"> </span>
        <div class="g-col-md-6" *ngIf="programPhotos.length < 1">
          <div class="imagePreview" *ngIf="viewProgramsDetailSummary.licenseType === 'Child Care Center'">
            <img class="photoSize" alt="Default Image" src="./assets/img/1694-center.png" />
          </div>
          <div class="imagePreview" *ngIf="viewProgramsDetailSummary.licenseType === 'Child Care Hourly Center'">
            <img class="photoSize" alt="Default Image" src="./assets/img/1695-hourly.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === 'Child Care Out of School Time Program'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/1698-out-of-school.png" />
          </div>
          <div class="imagePreview" *ngIf="viewProgramsDetailSummary.licenseType === ' Exempt Center'">
            <img class="photoSize" alt="Default Image" src="./assets/img/2969-exempt-center.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === ' Exempt School Age Program'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/2991-exempt-school-aged.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType ===
              'Child Care Registered Teen Program, No Background Checks'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3009-registered-teen-no-bg.png" />
          </div>
          <div class="imagePreview" *ngIf="viewProgramsDetailSummary.licenseType === 'Child Care Commercial Preschool'">
            <img class="photoSize" alt="Default Image" src="./assets/img/3189-commercial.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === 'Child Care Registered Center Based Program'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3229-reg-center-based.png" />
          </div>
          <div class="imagePreview" *ngIf="viewProgramsDetailSummary.licenseType === 'Child Care Exempt Program'">
            <img class="photoSize" alt="Default Image" src="./assets/img/3349-exempt-prog.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="viewProgramsDetailSummary.licenseType === 'Child Care Residential Certificate'"
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/1697-ResCert.png" />
          </div>
          <div class="imagePreview" *ngIf="viewProgramsDetailSummary.licenseType === 'Child Care Licensed Family'">
            <img class="photoSize" alt="Default Image" src="./assets/img/1696-lic-family.png" />
          </div>
          <div class="imagePreview" *ngIf="viewProgramsDetailSummary.licenseType === ' in Child\'s Home'">
            <img class="photoSize" alt="Default Image" src="./assets/img/3150--Child-Home.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType ===
              'Child Care Alternative Care, Background Checks by CCL'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3070-alt-no-bg.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === 'Child Care Registered Home Based Program'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3249-Reg-Home-Based.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === ' in Provider\'s Home'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3151--Provider-Home.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === 'Child Care Registered Teen Program, Background Checks by CCL'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3010-registered-teen-bg.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === 'Child Care Alternative Care, No Background Checks'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3069-alt-care-no-bg.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === 'Child Care Registered Center Based Program, No Background Checks'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3230-reg-center-no-bg.png" />
          </div>
          <div
            class="imagePreview"
            *ngIf="
              viewProgramsDetailSummary.licenseType === 'Child Care Registered Home Based Program, No Background Checks'
            "
          >
            <img class="photoSize" alt="Default Image" src="./assets/img/3250-reg-home-no-bg.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="float-container">
      <div class="g-col-md-12">
        <section class="disclaimer">
          <div id="search-results"></div>
          <p>information is provided for reference only</p>
        </section>
      </div>
    </div>
    <div class="spacer-100px"></div>
  </div>
</ng-container>

<ng-template #noDetails>
  <p>No details were found, but this page has been found</p>
</ng-template>
